In [1]:
import pandas as pd

Firstly, I converted my data files from .dat to .csv format. I did this via excel using the data tab and it's "get external data" option and extracted it from text. All the delimiting was done by default and I had my files in a split up format.

In [4]:
df = pd.read_csv("data/hetrec2011-lastfm-2k/artists.csv")
df

,id,name,url,pictureURL
0,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg
1,2,Diary of Dreams,http://www.last.fm/music/Diary+of+Dreams,http://userserve-ak.last.fm/serve/252/3052066.jpg
2,3,Carpathian Forest,http://www.last.fm/music/Carpathian+Forest,http://userserve-ak.last.fm/serve/252/40222717...
3,4,Moi dix Mois,http://www.last.fm/music/Moi+dix+Mois,http://userserve-ak.last.fm/serve/252/54697835...
4,5,Bella Morte,http://www.last.fm/music/Bella+Morte,http://userserve-ak.last.fm/serve/252/14789013...
...,...,...,...,...
17627,18741,Diamanda GalÃ¡s,http://www.last.fm/music/Diamanda+Gal%C3%A1s,http://userserve-ak.last.fm/serve/252/16352971...
17628,18742,Aya RL,http://www.last.fm/music/Aya+RL,http://userserve-ak.last.fm/serve/252/207445.jpg
17629,18743,Coptic Rain,http://www.last.fm/music/Coptic+Rain,http://userserve-ak.last.fm/serve/252/344868.jpg
17630,18744,Oz Alchemist,http://www.last.fm/music/Oz+Alchemist,http://userserve-ak.last.fm/serve/252/29297695...
17631,18745,Grzegorz Tomczak,http://www.last.fm/music/Grzegorz+Tomczak,http://userserve-ak.last.fm/serve/252/59486303...

There appears to be some unclean names such as "Diamanda GalÃ¡s" among others just taking an initial look at the data here.

In [5]:
df1 = pd.read_csv("data/hetrec2011-lastfm-2k/tags.csv")
df1

       tagID           tagValue
0          1              metal
1          2  alternative metal
2          3          goth rock
3          4        black metal
4          5        death metal
...      ...                ...
11941  12644              suomi
11942  12645          symbiosis
11943  12646            sverige
11944  12647               eire
11945  12648     electro latino

[11946 rows x 2 columns]

In [6]:
df2 = pd.read_csv("data/hetrec2011-lastfm-2k/user_artists.csv")
df2

       userID  artistID  weight
0           2        51   13883
1           2        52   11690
2           2        53   11351
3           2        54   10300
4           2        55    8983
...       ...       ...     ...
92829    2100     18726     337
92830    2100     18727     297
92831    2100     18728     281
92832    2100     18729     280
92833    2100     18730     263

[92834 rows x 3 columns]

In [7]:
df3 = pd.read_csv("data/hetrec2011-lastfm-2k/user_friends.csv")
df3

       userID  friendID
0           2       275
1           2       428
2           2       515
3           2       761
4           2       831
...       ...       ...
25429    2099      1801
25430    2099      2006
25431    2099      2016
25432    2100       586
25433    2100       607

[25434 rows x 2 columns]

In [8]:
df4 = pd.read_csv("data/hetrec2011-lastfm-2k/user_taggedartists-timestamps.csv")
df4

        userID  artistID  tagID  day  month  year
0            2        52     13    1      4  2009
1            2        52     15    1      4  2009
2            2        52     18    1      4  2009
3            2        52     21    1      4  2009
4            2        52     41    1      4  2009
...        ...       ...    ...  ...    ...   ...
186474    2100     16437      4    1      7  2010
186475    2100     16437    292    1      5  2010
186476    2100     16437   2087    1      7  2010
186477    2100     16437   2801    1      5  2010
186478    2100     16437   3335    1      7  2010

[186479 rows x 6 columns]

In [10]:
df5 = pd.read_csv("data/hetrec2011-lastfm-2k/user_taggedartists.csv")
df5

        userID  artistID  tagID  day  month  year
0            2        52     13    1      4  2009
1            2        52     15    1      4  2009
2            2        52     18    1      4  2009
3            2        52     21    1      4  2009
4            2        52     41    1      4  2009
...        ...       ...    ...  ...    ...   ...
186474    2100     16437      4    1      7  2010
186475    2100     16437    292    1      5  2010
186476    2100     16437   2087    1      7  2010
186477    2100     16437   2801    1      5  2010
186478    2100     16437   3335    1      7  2010

[186479 rows x 6 columns]

In [13]:
df.info

<bound method DataFrame.info of           id               name                                           url  \
0          1       MALICE MIZER         http://www.last.fm/music/MALICE+MIZER
1          2    Diary of Dreams      http://www.last.fm/music/Diary+of+Dreams
2          3  Carpathian Forest    http://www.last.fm/music/Carpathian+Forest
3          4       Moi dix Mois         http://www.last.fm/music/Moi+dix+Mois
4          5        Bella Morte          http://www.last.fm/music/Bella+Morte
...      ...                ...                                           ...
17627  18741    Diamanda GalÃ¡s  http://www.last.fm/music/Diamanda+Gal%C3%A1s
17628  18742             Aya RL               http://www.last.fm/music/Aya+RL
17629  18743        Coptic Rain          http://www.last.fm/music/Coptic+Rain
17630  18744       Oz Alchemist         http://www.last.fm/music/Oz+Alchemist
17631  18745   Grzegorz Tomczak     http://www.last.fm/music/Grzegorz+Tomczak

                                              pictureURL
0        http://userserve-ak.last.fm/serve/252/10808.jpg
1      http://userserve-ak.last.fm/serve/252/3052066.jpg
2      http://userserve-ak.last.fm/serve/252/40222717...
3      http://userserve-ak.last.fm/serve/252/54697835...
4      http://userserve-ak.last.fm/serve/252/14789013...
...                                                  ...
17627  http://userserve-ak.last.fm/serve/252/16352971...
17628   http://userserve-ak.last.fm/serve/252/207445.jpg
17629   http://userserve-ak.last.fm/serve/252/344868.jpg
17630  http://userserve-ak.last.fm/serve/252/29297695...
17631  http://userserve-ak.last.fm/serve/252/59486303...

[17632 rows x 4 columns]>

# Methods
Now that all our data files are read in and in the appropriate format we will begin our end to end process. These are as follows:
##### 1. Data cleaning and processing
##### 2. Visualization
##### 3. Fitting our Model
##### 4. Evaluating our Model

# Cleaning and Processing

In [14]:
df['name'].value_counts()

Yuridia                                1
Visa                                   1
Popof                                  1
Ð‘Ð°Ñ€Ð±Ð¸Ñ‚ÑƒÑ€Ð½Ñ‹Ð¹                 1
Bandas GaÃºchas -  www.DownsMtv.com    1
                                      ..
Fantasia                               1
Quella Mezza Sporca Dozzina            1
Nickel Creek                           1
Mason Jennings                         1
Japandroids                            1
Name: name, Length: 17632, dtype: int64

In [16]:
df1['tagID'].value_counts()

2049     1
10904    1
653      1
6798     1
4751     1
        ..
7505     1
1362     1
3411     1
9558     1
2047     1
Name: tagID, Length: 11946, dtype: int64